.body {
  background: rgb(224, 226, 228);
  margin-block: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
.box {
  padding: 10px;
  border: 0.3rem dashed tomato;
  font-size: 1.5rem;
  text-align: center;
  position: relative;
  margin: 1rem;
}
.first,
.item4 {
  background: #86aba1;
}

.box1 {
  padding: 10px;
  border: 0.3rem dashed rgb(48, 25, 179);
  font-size: 1.5rem;
  text-align: center;
  position: relative;
  margin: 1rem;
}
.first,
.item4 {
  background: #86aba1;
}
